// 颜色定义规范
$color-background = #fff
$color-background-d = rgba(255, 255, 255, 0.3)
$color-highlight-background = #f6f6f6
$color-dialog-background = #ffd2d6
$color-theme = #e56b55
$color-theme-d = rgba(229, 107, 85, 0.3)
$color-sub-theme = #f83f31
$color-text = #000
$color-text-d = rgba(0, 0, 0, 0.4)
$color-text-l = rgba(0, 0, 0, 0.6)
$color-text-ll = rgba(0, 0, 0, 0.8)
//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-x = 22px
